@import "tailwindcss";

body {
	margin: 0;
	min-height: 100vh;
	background-color: #0a0a0a;
	color: #ffffff;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
		sans-serif;
}
